/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(218, 207, 247);
}
body{
  font-family: "Poppins", sans-serif;
}

.container{
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  background: rgb(113, 90, 240);
  color: rgb(3, 0, 0);
  border: none;
  padding: 10px 20px;
  margin: 4px 2px;
  margin-top: 50%;
  /* margin-left: 30%; */
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
.btn-block {
  display: block;
  width: 100%;
}

.btn:hover
{
  transition: 0.5s;
  background-color: #7fff00;
  color:black;
  box-shadow: 0px 0px 40px #7fff00;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
